<div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/W9ZhQ_0z6Kg" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

User name: <input type="text" [(ngModel)]="userName">
<button (click)="search()">Search</button>
<div *ngIf="response">
  <img src="{{response.avatar_url}}" alt="">
  <p> Name: {{response.login}}</p>
  <p> Repositories: {{response.public_repos}}</p>
  <p>Biografy: {{response.bio}}</p>
</div>
