<div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/QuogUH8Vuw8" frameborder="0" allow="accelerometer;
  autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<!--ngIf lesson LESSON5-->
<div>
  <h3>Lesoon ngIf</h3>
  <ng-container *ngIf="isLogged; then loggedIn; else loggedOut">
  </ng-container>

  <ng-template #loggedIn>
    Logged in
  </ng-template>

  <ng-template #loggedOut>
    Login please
  </ng-template>
</div>
