<div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/ezzKFsTv4qI" frameborder="0" allow="accelerometer;
  autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<!--realtime output lesson LESSON3-->
<div>
  <h3>Lesson realtime output</h3>
  <h4>Time: {{time}}</h4>
</div>
