<div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/eCwSJ5PzjJ4" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<!--ngModel lesson  LESSON7-->
<div>
  <h3>Lesson ngModel</h3>
  <input type="text" [(ngModel)]="text">
  <p>{{text}}</p>
</div>
