<div>
  <h1>Angular Course</h1>
  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/lesson1">Lesson 1</a>
    <a routerLink="/lesson2">Lesson 2</a>
    <a routerLink="/lesson3">Lesson 3</a>
    <a routerLink="/lesson4">Lesson 4</a>
    <a routerLink="/lesson5">Lesson 5</a>
    <a routerLink="/lesson6">Lesson 6</a>
    <a routerLink="/lesson7">Lesson 7</a>
    <a routerLink="/lesson8">Lesson 8</a>
    <a routerLink="/lesson9">Lesson 9</a>
    <a routerLink="/lesson10">Lesson 10</a>
    <a routerLink="/lesson11">Lesson 11</a>
  </nav>
  <router-outlet></router-outlet>
</div>
