<div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/_F-WmMX8lyc" frameborder="0" allow="accelerometer;
  autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

  </iframe>
</div>

<!--ngClass ngStyle lesson LESSON8-->
<div [class.hello]="true">
  <h3>Lesson ngStyle ngClass</h3>
  <p [ngClass]="{bay: true}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ut!</p>
  <p [ngStyle]="{'color': 'blue'}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores exercitationem
    ipsa quia repellendus saepe totam.</p>

  <div [ngClass]="{invisible: visibility}">
    <h1>Hello world!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Ad autem inventore labore reiciendis soluta tempore veniam
      voluptate voluptates? Possimus, recusandae.</p>
  </div>
  <button (click)="hide()">Hide</button>

</div>
