.first{
  font-size: 30px;
}
.last{
  font-size: 35px;
}
.even{
  background-color: lightgray;
}
.odd{
  background-color: darkgray;
}

p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

