
<div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/HD-6QsvpfeM" frameborder="0" allow="accelerometer;
  autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<!--ngFor lesson LESSON4-->
<div>
  <h3>Lesson ngFor: </h3>
  <p *ngFor="let item of items; let i = index;
  let first = first; let last = last; let even = even;
  let odd = odd" [ngClass]="{first:first, last:last, even:even, odd:odd}">
    {{i+1}}. {{item}} {{first}}</p>
</div>
