<div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/nC_flGQ9waE" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<!--click lesson (events) LESSON6-->
<div>
  <h3>Lesson events</h3>
  <button *ngIf="isCollapsed" (click)="toggleCollapse()">Show</button>
  <button *ngIf="!isCollapsed" (click)="toggleCollapse()">Hide</button>

  <div *ngIf="!isCollapsed">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, vel.
    </p>
  </div>
</div>
